@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:focus {
  outline: none; }

.status-bar {
  display: flex;
  position: fixed;
  width: inherit;
  z-index: 10;
  justify-content: center;
  align-items: center;
  height: 24px; }

/* 시간표시를 가운데에  두기 위한 hack */
.status-bar__column {
  width: 33%;
  margin-top: 20px; }

.status-bar__column:first-child span {
  margin-left: 20px; }

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center; }

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px; }

/* 시간표시를 가운데에  두기 위한 hack */
.status-bar__column .fa-battery-full {
  margin: 0px 5px; }

.nav {
  position: fixed;
  z-index: 10;
  width: inherit;
  padding-top: 15px;
  height: 53px;
  background-color: rgba(242, 242, 242, 0.5);
  border-bottom: 1px solid rgba(121, 121, 121, 0.3);
  margin-top: 24px; }

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.nav__link {
  position: relative;
  color: #2e363e; }
  .nav__link i {
    width: 44px;
    height: 44px;
    text-align: center; }

.nav__notification {
  background-color: lightblue;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 23px;
  top: 15px; }

.nav__click {
  color: #26a5cf;
  border-radius: 100%; }

.screen-header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  height: 58px;
  align-items: center;
  margin-top: 90px;
  width: inherit;
  border-bottom: 1px dashed lightblue;
  display: flex; }

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  width: 74%;
  text-align: center; }

.screen-header__icons span {
  margin-left: 20px; }

.badge {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600; }

.state-ing {
  background-color: #ff453a; }

.state-ed {
  background-color: #30d158; }

.linear-record-component {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  border-bottom: 2px solid rgba(121, 121, 121, 0.15);
  padding: 16px; }

.linear-record-component__column:first-child {
  display: flex;
  align-items: center; }

.linear-record-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px; }

.linear-record-component__title {
  font-weight: 600;
  font-size: 22px; }

.linear-record-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5); }

.linear-record-component__avatar--xl {
  width: 80px;
  height: 80px; }

.linear-record-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px; }

.linear-record-component__title--not-bold {
  font-weight: 400; }

.linear-record-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.linear-record-component__time {
  margin-bottom: 10px;
  display: block; }

.welcome-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%; }

.welcome-header__title {
  margin-bottom: 40px; }

.welcome-header__text {
  width: 98%;
  opacity: 0.7; }

#login-form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  margin: 0px 30px;
  /*상, 하 마진으로 height 정함 */ }

#login-form input {
  border: none;
  padding: 15px 0px;
  margin-bottom: 25px;
  /* margin-bottom으로 아래 글자와의 간격 설정 */ }

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  /* type이 submit일때를 제외하고, 폼내의 border-color에 애니메이션 적용 */ }

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 2em; }

#login-form input:focus {
  border-color: #5c3ccc; }

#login-form input[type="submit"] {
  background-color: #5c3ccc;
  color: white;
  font-size: 2em;
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px; }

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 1.2em; }

* {
  box-sizing: border-box; }

html {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  width: 1194px;
  height: 834px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch; }
  body > :not(:first-child) {
    padding: 0 20px;
    position: relative; }

main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: inherit;
  height: 684px; }
  main > * {
    position: absolute;
    padding-top: 10px;
    height: inherit; }
  main > :first-child {
    position: fixed;
    width: 375px;
    background-color: white; }
  main > :last-child {
    position: fixed;
    width: 779px;
    margin-left: 375px;
    background-color: rgba(255, 55, 95, 0.05);
    padding: 16px; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.1em; }

/*# sourceMappingURL=styles.css.map */
