@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset";

@import "_variables";

@import "components/status-bar";
@import "components/nav-bar";
@import "components/screen-header";
@import "components/badge";
@import "components/linear-record-component";

@import "screens/login";
*{
  box-sizing: border-box;
}
html{
  background-color: $bg;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}
body {
  font-family: "Open Sans", sans-serif;  
  background-color: white;
  width: $screen-width;
  height: $screen-height;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;  
  &>:not(:first-child){
    padding: 0 20px; 
    position: relative;
  }
}
main{
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: inherit;
  height: $screen-height - $main--margin-top;     //TODO
  // background-color: lightgoldenrodyellow;  
  & > *{
    position: absolute;
    padding-top: 10px;
    height: inherit;    
  }
  &>:first-child{    
    position:fixed;
    width: $side-width;
    background-color: white; 
  }
  &>:last-child{
    position:fixed;
    width: $main-width - 30px;
    margin-left:$side-width;    
    background-color: $light-pink;
    padding: 16px;  //TODO padding...?
  }
}
$statusbar-height: 24px;
$navbar-height: 44px;
$header-height: 58px;

h1{
  font-size: $h1;
}
h2{
  font-size: $h2;
}
h3{
  font-size: $h3;
}
h4{
  font-size: $h4;
}
h5{
  font-size: $h5;
}
h6{
  font-size: $h6;
}

