@import "_variables.scss";
.nav {
    position: fixed;
    z-index: 10;
    width: inherit;
    padding-top: 15px;
    height: $navbar-height + $statusbar-height - 15px; // TODO padding에 의해 증가한만큼 뺌. 뭔가 굉장히 이상함. 
    background-color: $gray;
    border-bottom: 1px solid rgba(121, 121, 121, 0.3);
    margin-top: $statusbar-height;     
  }
  .nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;    
  }

  .nav__link {
    position: relative;
    color: #2e363e;
    & i{
        width:  44px;
        height: 44px;
        text-align: center;
    }
  }
  
  .nav__notification {
    background-color: $bg;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 23px;
    top: 15px;
  }
  
  .nav__click{
    color: rgb(38, 165, 207);
    border-radius: 100%;
  }